[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[fetch]
    prune = true

[diff]
    colorMoved = zebra

[alias]
    s = status
    c = commit
    p = push
    l = log --oneline --graph
    a = add
    d = diff
    co = checkout
    b = branch
